$MuseoSansCyrl-path: '../fonts/';
$MuseoSansCyrl-name: 'museo-sans-cyrl';
$MuseoSansCyrl-map: (
    100: '/thin',
    300: '/light',
    500: '/medium',
    700: '/bold',
    900: '/black'
);
@include font-mixin(normal, $MuseoSansCyrl-path,  $MuseoSansCyrl-name, $MuseoSansCyrl-map);
